@media(max-width: 990px){
    .cabecalho{
        flex-direction: column;
    }
    .cabecalho .logo h1{
        font-size: 40px;
   
    }   
    .menu{
       flex-direction: column;
       margin-top: 50px;
       text-align: center;
       
    }
    .menu li{
       padding: 33px 0;
 
    }
    .menu li a{
        font-size: 40px;
        padding: 17px 40px;
    }

}